// colours
$charcoal-grey: #393d41;
$light-gray: #b9b8b9;
$white: #ffffff;
$steel-grey: #757e83;
$teal-blue: #00829b;
$teal-grey: #6e7c7c;
$dark-teal: #35474a;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;

// padding
$bodyPadding1: 9vw;
$bodyPadding2: 17.5vw;

// fonts
$font_primary: "Nunito Sans", sans-serif;
$font_secondary: "Montserrat", sans-serif;
