// colours
$charcoal-grey: #393d41;
$light-gray: #b9b8b9;
$white: #ffffff;
$steel-grey: #757e83;
$teal-blue: #00829b;
$teal-blue-light: #0090ac;
$teal-grey: #6e7c7c;
$teal-grey-light: rgba(110, 124, 124, 0.19);
$dark-teal: #35474a;
$greyish-brown: #4a4a4a;
$brown-grey: #979797;

// breakpoints
$MobileMaxWidth: 767px;
$TabletMaxWidth: 1023px;
$DesktopMaxWidth: 1249px;

// padding
$bodyPadding1: 9vw;
$bodyPadding2: 17.5vw;

// fonts
$font_primary: "Nunito Sans", sans-serif;
$font_secondary: "Montserrat", sans-serif;
