.text-and-image-section {
  @include respond-to(desktop) {
    display: flex;
  }

  .image-wrapper {
    @include respond-to(desktop) {
      width: 55%;
    }

    @include respond-to(widescreen) {
      width: 60%;
    }

    img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: cover;

      @include respond-to(desktop) {
        height: 100%;
        max-height: none;
      }
    }
  }

  .content-wrapper {
    padding: 25px $bodyPadding1 40px;
    box-sizing: border-box;

    @include respond-to(tablet) {
      padding: 65px $bodyPadding2 70px;
    }

    @include respond-to(desktop) {
      padding: 75px $bodyPadding1 100px 7vw;
      width: 45%;
    }

    @include respond-to(widescreen) {
      width: 40%;
    }

    h1,
    h2 {
      margin-top: 0;
    }

    .content {
      @include respond-to(tablet) {
        margin-bottom: 40px;
      }
    }
  }

  &.left {
    flex-direction: row-reverse;

    .content-wrapper {
      padding-left: $bodyPadding1;
      padding-right: 7vw;
    }
  }

  &.large {
    .image-wrapper {
      img {
        min-height: 300px;
      }
    }

    .content-wrapper {
      @include respond-to(tablet) {
        padding-top: 50px;
      }
    }
  }
}

main > .text-and-image-section {
  .content-wrapper {
    @include respond-to(desktop) {
      padding-top: 150px !important;
    }
  }
}
