%mega-menu-parent {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.79;
  letter-spacing: normal;
  text-transform: uppercase;
  color: $white;
  user-select: none;

  @include respond-to(desktop) {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.67;
    color: $white;
    text-transform: none;
  }
}

.mega-menu-wrapper {
  opacity: 1;
  transition: all 0.3s ease-out;

  .mega-menu-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;

    background-color: black;
    opacity: 0.6;
  }

  #mega-menu {
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 100;
    max-width: 80vw;
    max-height: 100vh;
    overflow-y: auto;

    color: $white;
    background-color: $teal-blue;

    @include respond-to(tablet) {
      max-width: 50vw;
    }

    .parent-items-wrapper {
      padding: 80px $bodyPadding1 20px;

      text-align: right;

      @include respond-to(desktop) {
        padding-left: 20px;
      }

      .torque-mega-menu-parent-item {
        @extend %mega-menu-parent;

        position: relative;
        margin: 10px 0;
        padding-left: 40px;

        .torque-mega-menu-item-has-children-marker {
          position: absolute;
          left: 0;
          top: 7px;
          width: 6px;
          height: 10px;

          background-image: url("../statics/images/arrow.png");
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center;

          transform: rotateZ(-90deg);
          transition: all 0.2s ease-out;
        }

        .mega-menu-child-items-wrapper {
          margin-bottom: 20px;

          color: $light-gray;
          text-transform: none;
        }

        &.show-children {
          .torque-mega-menu-item-has-children-marker {
            transform: rotateZ(90deg);

            @include respond-to(desktop) {
              transform: rotateZ(0deg);
            }
          }
        }
      }
    }

    .children-items-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 50px 50px 50px 40px;

      background-color: $teal-blue-light;

      .children-items-title {
        @extend %mega-menu-parent;

        margin-bottom: 10px;
      }

      .mega-menu-child-items-wrapper {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5;
        color: $light-gray;
      }
    }

    .parent-items-wrapper {
      .mega-menu-child-items-wrapper {
        @include respond-to(desktop) {
          display: none !important;
        }
      }
    }

    .children-items-wrapper {
      @include respond-to-max(desktop) {
        display: none !important;
      }
    }

    &:not(.children-open) {
      .mega-menu-child-items-wrapper {
        display: none !important;
      }

      .children-items-wrapper {
        display: none !important;
      }
    }
  }

  &:not(.active) {
    opacity: 0;

    .mega-menu-overlay {
      display: none;
    }

    #mega-menu {
      display: none;
    }
  }
}
